.subscriber {
  color: #494949;
  margin: 50px
}

.drop-menu {
  background: #F5F5F5;
  width: 40%;
  min-width: 200px;
  text-align: left;
  margin-bottom: 10px;
}

.field-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.last-data-field {
  width: 300px;
  margin-right: 30px;
}

.new-data-field {
  width: 300px;
}

.input-color {
  /*#3f51b5*/
  caret-color: #01b7ee;
}

.arrow-icon {
  transform: rotate(-90deg);
  font-size: 0.8rem;
  position: relative;
  left: 10px;
  bottom: 14px;
}

.control-button {
  margin: 15px 15px 0 0;
}

.bottom-line {
  border: none;
  width: 90%;
  color: orange;
  border-bottom: 2px solid orange;
  box-shadow: 0 2px 6px 0px #333;
  margin: 40px 0 10px;
}

.copy-icon{
  cursor: pointer;
  visibility: hidden;
}

.last-data-field:hover .copy-icon {
  visibility: visible;
}
