<mat-toolbar color="primary">Список подписчиков</mat-toolbar>
<mat-list *ngIf="subscribers">
  <mat-list-item *ngFor="let subscriber of subscribers" [routerLink]="['/subscriber', subscriber.msisdn]">
    <mat-icon mat-list-icon>face</mat-icon>
    <h4 mat-line>{{subscriber.surname}}</h4>
    <p mat-line> {{subscriber.dateOfIssue | date }} </p>
  </mat-list-item>
</mat-list>
<mat-spinner *ngIf="!subscribers"></mat-spinner>
